<html lang="en">
<head>
    <title>Autorouter Route Overview</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-left navbar-brand" href="#"><i class="material-icons" style="vertical-align: text-top" aria-hidden="true">traffic</i> Autorouter Route Overview</a>
</nav>

<div class="container-fluid" style="padding: 5em 3em 3em;">
    <div class="row">
        <h1>Routes</h1>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Class/Method</th>
                <th>Verb</th>
                <th>Path</th>
                <th>Accept Type</th>
                <th>Transformer</th>
            </tr>
            </thead>
            <tbody>
                {{#routes}}
                    <tr>
                        <td>{{classMethod}}</td>
                        <td>{{verb}}</td>
                        <td>{{path}}</td>
                        <td>{{accept}}</td>
                        <td>{{transformer}}</td>
                    </tr>
                {{/routes}}
            </tbody>
        </table>
    </div>
    {{#beforeFilters?}}
    <div class="row">
        <h1>Before Filters</h1>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Class/Method</th>
                <th>Path</th>
                <th>Accept Type</th>
            </tr>
            </thead>
            <tbody>
            {{#beforeFilters}}
                <tr>
                    <td>{{classMethod}}</td>
                    <td>{{path}}</td>
                    <td>{{accept}}</td>
                </tr>
            {{/beforeFilters}}
            </tbody>
        </table>
    </div>
    {{/beforeFilters?}}
    {{#afterFilters?}}
    <div class="row">
        <h1>After Filters</h1>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Class/Method</th>
                <th>Path</th>
                <th>Accept Type</th>
            </tr>
            </thead>
            <tbody>
            {{#afterFilters}}
                <tr>
                    <td>{{classMethod}}</td>
                    <td>{{path}}</td>
                    <td>{{accept}}</td>
                </tr>
            {{/afterFilters}}
            </tbody>
        </table>
    </div>
    {{/afterFilters?}}
    {{#afterAfterFilters?}}
    <div class="row">
        <h1>After After Filters</h1>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Class/Method</th>
                <th>Path</th>
            </tr>
            </thead>
            <tbody>
            {{#afterAfterFilters}}
                <tr>
                    <td>{{classMethod}}</td>
                    <td>{{path}}</td>
                </tr>
            {{/afterAfterFilters}}
            </tbody>
        </table>
    </div>
    {{/afterAfterFilters?}}
    {{#exceptionHandlers?}}
    <div class="row">
        <h1>Exception Handlers</h1>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Class/Method</th>
                <th>Exception Type</th>
            </tr>
            </thead>
            <tbody>
            {{#exceptionHandlers}}
                <tr>
                    <td>{{classMethod}}</td>
                    <td>{{verb}}</td>
                </tr>
            {{/exceptionHandlers}}
            </tbody>
        </table>
    </div>
    {{/exceptionHandlers?}}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.buttflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
